/* COMPRAS */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #818ca7;
    overflow-x: hidden;        
    text-shadow: 1px 1px 2px #2F333D; 
}


.contenedor-centrado {
    padding: 5px;
    width: 100%;
    justify-content: center;
    font-weight: bolder;
    text-align: center;
    border-radius: 20px;
    text-shadow: 1px 1px 2px #2F333D; 
}



h1,h2{
    padding: 15px;    
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    color: rgba(255, 255, 255, 0.8); 
    border: white solid 1px;
    border-radius: 20px;
    -webkit-text-stroke-color: black; 
    -webkit-text-stroke-width: 0.1px; 
    background-color: rgba(255, 255, 255, 0.3);    
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 2px #2F333D;   
}

h3 {
    padding: 1px;  
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    color: rgba(255, 255, 255, 0.8); 
    border-radius: 20px;
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 2px #2F333D;   
}


p {
    font-size: 1rem;
    margin-top: 1%;
}


form {
    max-width: 400px;
    margin: auto;
    font-size: 1.5rem;
    padding: 20px;
    background-color:#818ca7;
    border: 1px solid lightslategray;
    border-radius: 5px;
    color: black;
}


table {
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 20px;
    background-color: #818ca7;
    border: 5px dashed #2F333D;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 100px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #818ca7;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color:#818ca7;
       
}

button {
    padding: 8px;
    margin:4px;
    font-size: 1.5rem;
    background-color: #818ca7;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

a:link {
    text-decoration:none;
    font-size: 1.5rem;
}
a:visited {
    text-decoration:none;
    font-size: 1.5rem;
}

a:active {
    text-decoration:none;
    font-size: 1.5rem;
    color: #aac49c;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}






