* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: lightsteelblue;
    overflow-x: hidden;        
}
h1 {
    padding: 15px;    
    font-size: 3rem;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.8); 
    border: lightsteelblue solid 1px;
    -webkit-text-stroke-color: black; 
    -webkit-text-stroke-width: 0.1px; 
    background-color: rgba(176, 196, 222, 0.4);    
    letter-spacing: 0.3rem;   
}
h2 {
    grid-column: 1 / 4;
    margin-bottom: 1%;
}
h4 {    
    font-weight: lighter;
    padding: 2px;
}
h6 {
    font-size: 0.7rem;    
}
p {
    font-size: 1rem;
    margin-top: 1%;
}
a:link {
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
    color: lightsteelblue;
}
a:active {
    text-decoration:none;
}
/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}
/* scrollbar  Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 5px;    
}
/* scrollbar  Handle */
::-webkit-scrollbar-thumb {
    background: lightpink; 
    border-radius: 5px;
}
/* MAIN CONTAINER */ 
.container {
    display: grid;    
    grid-template-columns: auto;
    grid-template-rows: 20vh 8vh 65vh 7vh;
}
.col2 {
    grid-column: 1 / 3;
}
.col3 {
    grid-column: 2 / 4;
}
/* HEADER */
.header {
    background: url(../img/header.jpg) no-repeat top fixed;
    background-color: lightpink;    
    display: flex;
    align-items: center;    
    justify-content: center;
}

/*NAVIGATION BAR*/
.navbar {
    top: 0;
    position: sticky;
    position: -webkit-sticky;     
    text-transform: uppercase;    
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #646464;
}
.navbar li {
    float: left;
}  
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}  
.navbar li a:hover:not(.active) {
    background-color:rgb(136, 136, 136);
}  
.active {
    background-color: lightcoral;
    font-weight: bold;    
}

/*SECTION*/
.show {
    display: none;    
    background-color: lightsteelblue;       
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 5vh;
    column-gap: 2%;    
    padding: 1% 0.5% 0 1%;
    margin-bottom: -2%;
    align-items: start;
    height: 65vh;
    overflow: scroll;
    overflow-x: hidden;
}
.show .active {
    display: grid;
}
/*ADOPCIONES*/ 
.adopcion {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}
/*CONTACT FORM*/ 
.contactrow {
    grid-template-rows: auto auto auto;
}
form {
    display: grid;    
    grid-template-columns: 49% 49%;
    grid-row: 2 / 4;
    column-gap: 2%;
    text-align: left;
    width: 100%;
}
input[type=text], input[type=email], input[type=tel], select, textarea {        
    height: 25px;
    border: 1px solid white;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 10px;
    width: 100%;
}
textarea {    
    resize: none;
    height: 100px;    
}
input[type=submit] {
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    border-radius: 10px;
    height: 50px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: grey;
    font-weight: 500;    
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    align-self: center;
}
input[type=submit]:hover {
    transition: 0.3s;
    background-color: rgba(255,255,255,0.9);
    color: lightcoral;
} 
input[type=submit]:active {
    background-color: lightcoral;
    color: white;
}
.contactlist {
    overflow: show;
}
.contactlist li {
    list-style-type: none;
    padding: 11px 0px;
    position: relative;
    display: block;
    width: auto;
    font-size: 16px;
    word-break: break-word;
    text-align: right;
}
.contactlist li strong {
    float: left;
    margin-right: 8px;
    padding: 1px 8px;
    background: lightcoral;
    font-size: 14px;
    line-height: 20px;
    color: white;
    font-weight: 400;
    text-transform: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*FOOTER*/
.footer {
    position: fixed;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;    
    align-content: space-evenly;
    bottom: 0;
    height: 6vh;
    width: 100%;
    background-color: lightpink;
    text-align: center;
}
