* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #818ca7;
    overflow-x: hidden;        
}
h1 {
    padding: 15px;    
    font-size: 3rem;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.8); 
    border: white solid 1px;
    border-radius: 20px;
    -webkit-text-stroke-color: black; 
    -webkit-text-stroke-width: 0.1px; 
    background-color: rgba(255, 255, 255, 0.3);    
    letter-spacing: 0.3rem;
    text-shadow: 1px 1px 2px #2F333D;   
}
h2 {
    grid-column: 1 / 4;
    margin-bottom: 1%;
}
h3 {
    font-size: 1.5rem;
}
h4 {    
    font-weight: lighter;
    padding: 2px;
}
h5 {
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    text-shadow: 1px 1px 2px #2F333D;
    text-transform: uppercase;    
    padding: 2% 0% 1% 2%;    
}
h6 {
    font-size: 0.7rem;    
}
p {
    font-size: 1rem;
    margin-top: 1%;
}
a:link {
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
    color: #c5e3b9;
}
a:active {
    text-decoration:none;
}
/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
    
}
/* scrollbar  Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 5px;    
}
/* scrollbar  Handle */
::-webkit-scrollbar-thumb {
    background: #aac49c; 
    border-radius: 5px;
}
/* MAIN CONTAINER */ 
.container {
    display: grid;    
    grid-template-columns: 100%;
    grid-template-rows: 20vh 8vh 65vh 7vh;
    overflow: hidden;
}
.col2 {
    grid-column: 1 / 3;
}
.col3 {
    grid-column: 2 / 4;
}
.col3-4 {
    grid-column: 3 / 5;
}
.col4 {
    grid-column: 1 / 4;
}
.col5 {
    grid-column: 1 / 5;
}
.col6 {
    grid-column: 2 / 6;
}
/* HEADER */
header {
    height: 20vh;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20vh;
    background-color: #cc8f80;    
    align-items: center;    
    justify-content: center;
    text-align: center;    
}
.logo {
    position: absolute;
    left: 15px;
    width: 10%;
    height: auto;
    z-index: 5;
}
.fondo {
    grid-column: 1 / 4;
    filter: blur(2px);
}
header h1 {
    position: absolute;
    justify-content: center;
    justify-self: center;
}
/*NAVIGATION BAR*/
.navbar {
    top: 0;
    position: sticky;
    position: -webkit-sticky;     
    text-transform: uppercase;
    height: 8vh;    
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c5e3b9;
}
.navbar li {
    float: left;
}  
.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}  
.navbar li a:hover:not(.active) {
    background-color:#aac49c;
}  
.active {
    background-color: #818ca7;
    font-weight: bold;    
}

/* SECTION */
.show {
    display: none;    
    background-color: #818ca7;       
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 5vh;
    column-gap: 2%;    
    padding: 1% 0.5% 0 1%;
    align-items: start;
    height: 63vh;
    overflow: scroll;
    overflow-x: hidden;
}
.show .active {
    display: grid;
}

/* SECCION FUNDACION */
.containerFundacion {
    background-color: #cc8f80;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: auto;
    height: auto;
    border-radius: 20px;
    text-align: justify;
    padding: 1%;
    margin: 1%;
    color: black;
}
.containerFundacion img {
    max-width: 85%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 5px dashed #2F333D;
    padding: 5px;
    background-color: #cc8f80;
}

/* SECCION ADOPCIONES */

.containerFicha {
    position: relative;
    width: 90%;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}  
.imageFicha {
    display: block;
    width: 100%;
    height: auto;
    min-width: 270px;
    min-height: 270px;
}  
.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: #2F333D;
    /*background-color: #AFBEE3;*/
    /*background-color: #cc8f80;*/
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}  
.containerFicha:hover .overlay {
    width: 100%;
    left: 0;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    align-items: center;
}

/*SECCION TIPS*/

.containerTips {    
    background-color: rgba(255, 255, 255, 0.2);
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid #3a445a;
    text-align: left;
    color: #2F333D;
    font-size: 1rem;
    padding: 1%;
    margin-bottom: 5%;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.containerTips .titulo {
    background-color: #cc8f80;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    color: #2F333D;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}
.containerTips li {    
    text-align: left;
    list-style-position: inside;
    list-style-image: url(../img/paw-solid.svg);
}
.containerTips li::marker {
    font-size: 1.5rem;
}

/*AYUDANOS*/

.subtitle {
    grid-column: 1 / 4;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #2F333D; 
    text-align: center;
    padding-bottom: 15px;
    -webkit-text-stroke-color: black; 
    -webkit-text-stroke-width: 0.1px;
    text-shadow: 2px 2px 1px #c5e3b9;    
}
.listadona {
    background-color: rgba(255, 255, 255, 0.2);
    list-style-type: none;
    
    border-radius: 5px;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.listadona:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.listadona .titulo {
    background-color: #2F333D;
    border: 1px solid #2F333D;
    border-bottom: 1px solid #eee;
    color: #cc8f80;
    font-weight: bold;
    font-size: 1.5rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.listadona li {   
    border-left: 1px solid #2F333D;
    border-right: 1px solid #2F333D;; 
    padding: 10px;
    text-align: center;
}
.precio {
    border: 1px solid #2F333D;
    border-top: 1px solid #eee;
    background-color: #2F333D;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.precio a {
    color: #cc8f80; 
    font-weight: bolder;
    font-size: 1.5rem;
}
.precio a:hover {
    transition: 0.3s;
    color: #aac49c;
}
.descripcion {
    color: #2F333D;
    font-size: 1rem;
    line-height: 25px;
    margin: 0;
}
.descripcion img {
    max-width: 85%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 5px dashed #2F333D;
    padding: 5px;
    background-color: #cc8f80;
}
.col4 form {
    display: grid;    
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 2.5%;
    text-align: left;
    width: 100%;
}
hr.solid {
    height: 8px;
    background-image: radial-gradient(#2f333d, transparent 65%);
    border: 0;
    height: 1px;
    grid-column: 1 / 4;
    margin-top: 10px;
    margin-bottom: 10px;   
}
.requisitos li {    
    color: #2F333D;
    text-align: left;
    list-style-position: inside;
    list-style-image: url(../img/paw-solid.svg);
}
.requisitos li::marker {
    font-size: 1.5rem;
}
.nota {
    font-size: 0.8rem;
    font-weight: lighter;
    font-style: italic;
    color: #3a445a;
}
.enfasis {
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #c5e3b9;
    text-shadow: 2px 2px 1px #cc8f80;
    text-align: center;
    padding: 3%;
}
/*CONTACT FORM*/ 
.contactrow {
    grid-template-rows: auto auto auto;
}
form {
    display: grid;    
    grid-template-columns: 49% 49%;
    grid-row: 2 / 4;
    column-gap: 2%;
    text-align: left;
    width: 100%;
}
input[type=text], input[type=email], input[type=tel], input[type=number], select, textarea {        
    height: 25px;
    border: 1px solid white;
    margin-top: 6px;
    margin-bottom: 16px;
    padding-left: 5px;
    resize: vertical;
    border-radius: 10px;
    width: 100%;
    outline: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=number]:focus, select:focus, textarea:focus {
    border: 1px solid #cc8f80;
}
input[type=file] {
    display: none;
}
.inFileBtn {
    height: 34px;
    padding: 6px 12px;
    border-radius: 17px;
    background-color: white;
    color: black;
    width: 170px;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
}  
.inFileBtn:hover {
    transition: 0.3s;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    color: #cc8f80;
}
.inFileBtn:active {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) inset;
}
textarea {    
    resize: none;
    height: 100px;    
}
input[type=submit] {
    width: 100%;
    background-color: rgba(255,255,255,0.6);
    border-radius: 17px;
    height: 50px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: grey;
    font-weight: 500;    
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    align-self: center;
}
input[type=submit]:hover {
    transition: 0.3s;
    background-color: rgba(255,255,255,0.9);
    color: #cc8f80;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
} 
input[type=submit]:active {
    background-color: #cc8f80;
    color: white;
}
.contactlist {
    overflow: show;
}
.contactlist li {
    list-style-type: none;
    padding: 11px 0px;
    position: relative;
    display: block;
    width: auto;
    font-size: 16px;
    word-break: break-word;
    text-align: right;
}
.contactlist li strong {
    float: left;
    margin-right: 8px;
    padding: 1px 8px;
    background: #3a445a;
    font-size: 14px;
    line-height: 20px;
    color: white;
    font-weight: 400;
    text-transform: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #cc8f80;
    margin: 15% auto; 
    padding: 20px;
    border: 5px dashed #2F333D;
    width: 70%;
}
.close {
    color: #2F333D;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #c5e3b9;
    text-decoration: none;
    cursor: pointer;
}

/*FOOTER*/
.footer {
    position: sticky;
    height: 7vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;    
    align-content: space-evenly;
    width: 100%;
    background-color: #c5e3b9;
    text-align: center;
}
.footer p {
    font-size: large;
    color: #2F333D;
    padding-top: 1vh;
}
.footer a:hover {
    color: #2F333D;
}

/* MEDIA QUERYS */
/* CELULARES y TABLETS CHICAS */
@media screen and (max-width:1080px){

}
/* TABLETS Y PANTALLAS PC CHICAS */
@media screen and (max-width: 1366px) {
    h1 {    
        font-size: 2rem;
    }
    h2 {
        grid-column: 1 / 3;
    }
    .show {
        grid-template-columns: repeat(2, 49%);
    }
    .col2 {
        grid-column: 1 / 3;
    }
    .col3 {
        grid-column: 2 / 3;
    }
    .col3-4 {
        grid-column: 1 / 3;
    }
    .col4 {
        grid-column: 1 / 3;
    }
    .col5 {
        grid-column: 1 / 3;
    }
    .col6 {
        grid-column: 2 / 5;
    }
    .containerFundacion {
        grid-template-columns: repeat(4, 25%);
    }
    .subtitle {
        grid-column: 1 / 3;
    }
    .col4 form {
        display: grid;    
        grid-template-columns: 46% 46%;
        column-gap: 2.5%;
        text-align: left;
        width: 100%;
    }
    hr.solid {
        height: 8px;
        background-image: radial-gradient(#2f333d, transparent 65%);
        border: 0;
        height: 1px;
        grid-column: 1 / 3;
        margin-top: 10px;
        margin-bottom: 10px;   
    }
    .listadona {
        border: transparent;
    }
    .precio {
        margin-bottom: 5%;
    }
    
}