.show {
    background-color: #818ca7;;
    padding: 40px;
    display: grid;
    }

.conteinerFundacion {
    background-color: #cc8f80;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    z-index: 5;
    text-align: justify;
    color: black;
    font-size: 30px;
    }

.text{
    font-style:Poppins;
    font-size: 20px;
    }
